<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    <div class="container">
         {{>header}}
    <p>Use this site to get you weather forcast.</p>
    <form>
        <input type="text" placeholder="Type address" id="searchInput"/>
        <button type="submit" id="searchBtn">Search</button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
    </div>
    {{>footer}}
</body>
</html>